LANGUAGE LANG_PORTUGUESE,SUBLANG_PORTUGUESE_BRAZILIAN

APPLICATION_ICO ICON "d:\devel\Res\\sagi.ico"

1    24     "d:\\devel\\res\\WindowsXP.Manifest"

1002 BITMAP "d:\devel\Res\\buscar.bmp"
1003 BITMAP "d:\devel\Res\\logo_sygecom.bmp"
1004 ICON   "d:\devel\Res\\sagi.ico"
1005 BITMAP "d:\devel\Res\\sair.bmp"
1006 BITMAP "d:\devel\Res\\ok.bmp"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEFLAGSMASK 0x0
FILEFLAGS 0x0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
  BLOCK "StringFileInfo"
  {
    BLOCK "041604B0"
    {
      VALUE "Comments",         "Sistema Desenvolvido Pela Sygecom Informática Ltda - www.sygecom.com.br \0"
      VALUE "CompanyName",      "Sygecom Informática Ltda - www.sygecom.com.br\0"
      VALUE "FileDescription",  "Sistema de Migração de SQL para DBF\0"
      VALUE "FileVersion",      "2.0000\0"
      VALUE "InternalName",     "Projeto de Migração de SQL para DBF\0"
      VALUE "LegalCopyright",   "Sygecom Informática Ltda\0"
      VALUE "LegalTrademarks",  "SQL2DBF / SYGECOM\0"
      VALUE "OriginalFilename", "SQL2DBF.EXE\0"
      VALUE "ProductName",      "Sistema de Migração de SQL para DBF\0"
      VALUE "ProductVersion",   "2.0000\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x416, 0x4B0
  }
}
